<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lat</key>
		<real>17.385</real>
		<key>long</key>
		<real>78.4867</real>
		<key>no</key>
		<integer>1</integer>
		<key>title</key>
		<string>Hyderabad</string>
		<key>image</key>
		<string>charminar</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>17.3984</real>
		<key>long</key>
		<real>78.5583</real>
		<key>no</key>
		<integer>2</integer>
		<key>title</key>
		<string>Uppal</string>
		<key>image</key>
		<string>uppal</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>17.4453</real>
		<key>long</key>
		<real>78.6853</real>
		<key>no</key>
		<integer>3</integer>
		<key>title</key>
		<string>Ghatkeswar</string>
		<key>image</key>
		<string>ghatkeswar</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>17.5035</real>
		<key>long</key>
		<real>78.8892</real>
		<key>no</key>
		<integer>4</integer>
		<key>title</key>
		<string>bhongiri</string>
		<key>image</key>
		<string>kila</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>17.5362</real>
		<key>long</key>
		<real>78.938</real>
		<key>no</key>
		<integer>5</integer>
		<key>title</key>
		<string>raigiri</string>
		<key>image</key>
		<string>raigiri</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>17.5892</real>
		<key>long</key>
		<real>78.9443</real>
		<key>no</key>
		<integer>6</integer>
		<key>title</key>
		<string>Yadagirigtta temple</string>
		<key>image</key>
		<string>temple</string>
	</dict>
</array>
</plist>
